// TABLE VARIABLES
$headerHeight: 34px;
$toolbarHeight: 40px;
$formulaHeight: 24px;
$rowHeight: 24px;

$infoCellWidth: 40px;
$cellWidth: 120px;

$borderColor: #c0c0c0;

// DASHBOARD VARIABLES
$dbHeaderHeight: 64px;
